<?xml version='1.0' encoding='utf-8'?>
    <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="se.gokopen.model.Patrol" />
        <mapping class="se.gokopen.model.Score" />
        <mapping class="se.gokopen.model.Station" />
        <mapping class="se.gokopen.model.Track" />
        <mapping class="se.gokopen.model.Config"/>
        <mapping class="se.gokopen.model.User"/>
    </session-factory>	
</hibernate-configuration>